.app {
    background: #2a7b9b;
    background: linear-gradient(
        90deg,
        rgba(42, 123, 155, 1) 3%,
        rgba(50, 199, 142, 1) 54%,
        rgba(237, 221, 83, 1) 100%
    );
    min-height: 100vh;
}

.app__dashboard-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__dashboard-icon {
    width: 300px;
    height: 100px;
    object-fit: contain;
    display: inline-block;
}
